.header{
  &__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav-bar{
    display: flex;
    align-items: center;
  }
}

.nav{
  &__list{
    display: flex;
    align-items: center;
  }
  &__item{
    &-link{
      font-family: "Open Sans";
    }
  }
}