@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans-regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Formular";
  src: url("../../fonts/formular-medium.ttf");
  font-weight: 500;
  font-style: normal;
}