$mainFont: 'Montserrat', Helvetica, Arial, sans-serif;
$mainFontColor: #101010;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

// Sizes
$desktopWidth: 1410px;
$tableWidth: 768px;
$phonesWidth: 480px;