/* Font:
  ========================================================================== */
$mainFont: 'Open Sans', sans-serif;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 157%;

/* Sizes:
  ========================================================================== */
$desktopWidth: 1216px;
$tableWidth: 768px;
$phonesWidth: 360px;

/* Colors:
  ========================================================================== */
$black: #222222;
$grey: #A7A7A7;
$greyF1: #F1F1F1;