// Font
$mainFont: 'Montserrat', Helvetica, Arial, sans-serif;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

// Sizes
$desktopWidth: 1216px;
$tableWidth: 768px;
$phonesWidth: 480px;

// Colors
$black: #222222;
$grey: #A7A7A7;