header(class="header")
    div(class="header__container container")
        div(class="header__row")
            div(class="header__logo-wrap")
                svg(class="header__logo" width="88" height="32" viewBox="0 0 88 32")
                    use(xlink:href="./images/sprites.svg#logo")
            div(class="header__location")
                div(class="header__location-icon-wrap")
                    svg(class="header__location-icon" width="32" height="32" viewBox="0 0 32 32")
                        use(xlink:href="./images/sprites.svg#location")
                span(class="header__location-text") Москва
            div(class="header__search-wrap")
                div(class="header__search-icon-wrap")
                    svg(class="header__search-icon" width="17" height="17" viewBox="0 0 17 17")
                        use(xlink:href="./images/sprites.svg#search")
                input(class="header__search-input" type="search" placeholder="Учебное заведение, специальность или профессия")
            div(class="header__user-wrap")
                div(class="header__favorite")
                    div(class="header__favorite-icon-wrap")
                        svg(class="header__favorite-icon" width="19" height="18" viewBox="0 0 19 18")
                            use(xlink:href="./images/sprites.svg#heart")
                    span(class="header__favorite-value")
                div(class="header__user")
                    span(class="header__user-name") Екатерина
                    div(class="header__user-photo-wrap")
                        img(class="header__user-photo" src="./images/avatar.jpg" alt="Ваша фотография")
                        // В макете не было полной фотографии, округление лечше делать через стили
        div(class="header__nav-bar")
            div(class="nav__arrow-right")
                svg(class="nav__arrow" width="32" height="32" viewBox="0 0 32 32")
                    use(xlink:href="./images/sprites.svg#arrow-right")
            nav(class="nav")
                ul(class="nav__list")
                    li(class="nav__item")
                        a(class="nav__item-link" href="#") Вузы
                    li(class="nav__item")
                        a(class="nav__item-link" href="#") Колледжи
                    li(class="nav__item")
                        a(class="nav__item-link" href="#") Техникумы
                    li(class="nav__item")
                        a(class="nav__item-link" href="#") Училища
                    li(class="nav__item")
                        a(class="nav__item-link" href="#") Специальности
                    li(class="nav__item")
                        a(class="nav__item-link" href="#") Профессии
                    li(class="nav__item")
                        a(class="nav__item-link" href="#") Отзывы
                    li(class="nav__item")
                        a(class="nav__item-link" href="#") Учебным заведениям
                    li(class="nav__item")
                        a(class="nav__item-link" href="#") Тест на профориентацию
                    li(class="nav__item")
                        a(class="nav__item-link" href="#") Вузы
                    li(class="nav__item")
                        a(class="nav__item-link" href="#") Колледжи
                    li(class="nav__item")
                        a(class="nav__item-link" href="#") Техникумы
            div(class="nav__arrow-right")
                svg(class="nav__arrow" width="32" height="32" viewBox="0 0 32 32")
                    use(xlink:href="./images/sprites.svg#arrow-right")